.dropdownmenu ul, .dropdownmenu li {
   margin: 0;
   padding: 0;

 }
 .dropdownmenu ul {
   background: white;
   list-style: none;
   width: 100%;
 }
 .dropdownmenu li {
  
   float: left;
   position: relative;
   width:auto;
   
    
  
 }
 .dropdownmenu a {
  top: 0px;
   background: #f8f8f8;
   color: #337ab7;
   display: block;
   font: bold 15px/20px sans-serif;
   padding: 12px 25px;
   text-align: center;
   text-decoration: none;
   -webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
   -ms-transition: all .25s ease;
   -o-transition: all .25s ease;
   transition: all .25s ease;
 }
 .dropdownmenu li:hover a {
   background: #ffffff;
 }
 #submenu {
   left: 0;
   opacity: 0;
   position: absolute;
   top: 35px;
   visibility: hidden;
   z-index: 1;
 }
 li:hover ul#submenu {
   opacity: 1;
   top: 40px;  
   visibility: visible;
 }
 #submenu li {
   float: none;
   width: 100%;e
 }
 #submenu a:hover {
   background: #f8f8f8;
 }
 #submenu a {
   background-color:#f8f8f8;
 }